body{
    background-color: rgb(220, 188, 188);
}
.cachorro{
    display: flex;
    justify-content: space-around;
}
.card-group{
    display: flex;
}
.custom-footer {
    background-color: rgb(103, 66, 66);
  }
  .texto1 {
       color: #000;

  }
  .texto-center {
        color: #000;
        
  }