body{
    background-color: rgb(103, 66, 66);
}
.cachorro{
    display: flex;
    justify-content: space-around;
}
.card-group{
    display: flex;
}
.custom-footer {
    background-color: rgb(103, 66, 66);
  }
  